.job-card {
  background-color: #272727;
  height: 290px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.company-role {
  display: flex;
  align-items: center;
}
.company-logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.role {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.rating-logo {
  color: #fbbf24;
}
.job-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.location-type {
  display: flex;
  align-items: center;
}
.location {
  margin-right: 20px;
}
.job-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.description-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
}
