.jobs-container {
  background-color: #000000;
  padding: 10px;
  display: flex;
  padding-left: 5%;
  padding-right: 1%;
}
.profile-section {
  padding-top: 20px;
  width: 20%;
  margin-right: 0px;
  padding-right: 0px;
}
.jobs-content {
  padding-top: 20px;
  width: 75%;
  margin-left: 0px;
  padding-left: 0px;
}
.jobs-list {
  list-style-type: none;
  padding-left: 30px;
}
.profile-success-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-img {
  height: 50px;
  width: 50px;
}
.profile-heading {
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 16px;
}
.profile-bio {
  margin-top: 0px;
  color: #2c364c;
  font-family: 'Roboto';
  font-size: 14px;
}
.filter-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.type {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}
.employee-item {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  display: flex;
  align-items: center;
}
.salary-range {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}
.salary-item {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  display: flex;
  align-items: center;
}
.line {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 10px;
}
.search-input-container {
  margin-left: 32px;
  border: 0.5px solid #cbd5e1;
  width: 344px;
  border-radius: 2px;
}
.search-input {
  width: 298px;
  height: 32px;
  background-color: #121212;
  border: none;
  color: #ffffff;
  border-right-color: #121212;
  padding-left: 8px;
  outline: none;
}

.search-button {
  background-color: #272727;
  color: #ffffff;
  height: 32px;
  width: 44px;
  cursor: pointer;
  text-align: center;
  border-right-color: 1px solid whitesmoke;
  border: 0px;
}
.no-jobs-view {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.no-jobs-img {
  height: 250px;
  width: 300px;
}
.no-jobs-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.no-jobs-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
}
