.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 100vh;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    height: 100vh;
    background-size: cover;
  }
}
.heading {
  font-size: 28px;
  font-family: 'Roboto';
  color: #f8fafc;
}
.description {
  font-size: 14px;
  font-family: 'Roboto';
  color: #f8fafc;
}
